<template>
    <div id="app" >

        <div class="content">
                <h2 class="content-heading"><i class="si si-book-open mr-5"></i> Administrador de libros</h2>

                <div class="row">
                    <div class="col-md-8">

                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="block-header block-header-default">
                            <h3 class="block-title"> <i class="fas fa-school"></i> Listado de libros</h3>
                        </div>
                        <div class="block-content">
                            <p>The first way to make a table responsive, is to wrap it with <code>&lt;div class=&quot;table-responsive&quot;&gt;&lt;/div&gt;</code>. This way the table will be horizontally scrollable and all data will be accessible on smaller screens (&lt; 768px).</p>
                            <div class="table-responsive">
                       
                            <ListaBiblioteca v-bind:libros="libros"></ListaBiblioteca>

                            </div>
                        </div>
                        </nav>

                    </div>

                    
                    <div class="col-md-4">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="block block-rounded">
                        <div class="block-header block-header-default">
                            <h3 class="block-title">Crear un nuevo libro</h3>
                        </div>
                            <div class="block-content">
                                <p>Haz click en el boton para la creación de un nuevo libro</p>
                                <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#createLibro"   style="overflow: hidden; position: relative; z-index: 1;    margin-bottom: 20px;margin-left: 10px;"> <i class="fas fa-plus"></i> Añadir Nuevo Libro</button>
                            </div>
                        </div>
                        </nav>

                     </div>

                </div>
        </div>
    </div>

</template>



<script>

    import ListaBiblioteca from './ListaBiblioteca.vue'


    export default {
        components:{
            ListaBiblioteca
        },
        data() {
            return {
                librosTodos: [],
                libros:[
                        {   
                            nombreLibro :'',
                            autorLibro:'',
                            detalleLibro:'',
                            idLibros:''

                        }
                        ]

            }
        },
    }
</script>
<style scoped>
    .terminada{
        color: gray;
        text-decoration: line-through;
    }
</style>
