<template>
<div ref="modal" class="modal fade" id="createLibro" >
  <div class="modal-dialog">

                <div class="modal-content">
                
                        <div class="modal-header">
                            <h3  class="modal-title">Crear nuevo registro Libro</h3>
                        </div>
                        <div class="modal-body">
                          
                            <form method="POST"  v-on:submit.prevent="createLibro()"  >
                            <div class="form-group">
                                
                                <div class="form-group row" id="cantidadLibroCreate">

                                    <div class="col-md-12" >
                                        <div class="form-material">
                                            <label for="material-text">Cantidad Libros</label>
                                            <input type="number" class="form-control" v-model="datoLibro.cantidad">                                            
                                        </div>
                                        <div  v-if="msgError.cantidadLibro" v-for="nombre in msgError.cantidadLibro" class="invalid-feedback" style="color: red">Error Cantidad Registro Libro:  {{nombre}} </div>
                                    </div>

                                </div>

                                <div class="form-group row" id="nombreLibroCreate">
                                    <div class="col-md-12">
                                        <div class="form-material">
                                            <label for="material-text">Nombre Libro</label>
                                            <input type="text" class="form-control" id="material-text" name="material-text"  v-model="datoLibro.nombre">
                                        </div>
                                        <div  v-if="msgError.nombreLibro" v-for="nombre in msgError.nombreLibro" class="invalid-feedback" style="color: red">Error Campo Nombre Libro:  {{nombre}} </div>
                                    </div>
                                </div>

                                <div class="form-group row" id="nombreAutorCreate">
                                    <div class="col-md-12">
                                        <div class="form-material">
                                            <label for="material-text2">Autor</label>
                                            <input type="text" class="form-control" id="material-text" name="material-text" v-model="datoLibro.autor">
                                        </div>
                                        <div v-if="msgError.nombreAutor" v-for="nombre in msgError.nombreAutor" class="invalid-feedback" style="color: red">Error Campo Nombre Autor:  {{nombre}} </div>
                                    </div>
                                </div>

                                <div class="form-group row" id="detalleLibroCreate">
                                    <div class="col-md-12">
                                        <div class="form-material">
                                            <label for="material-textarea-large2">Detalle Libro</label>
                                            <textarea class="form-control"  rows="8"  v-model="datoLibro.detalle"></textarea>
                                        </div>
                                        <div v-if="msgError.detalleLibro" v-for="nombre in msgError.detalleLibro" class="invalid-feedback" style="color: red">Error Campo Detalle Libro:  {{nombre}} </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-alt-primary" >Crear nuevo registro</button>
                                </div>
                                
                            </div>
                            </form>
                        </div>
                    </div>
                    
    

                </div>

             

        </div>
        <!-- END Normal Modal -->
</template>

<script>


    export default {

        data() {
            return {
                    datoLibro: [],
                    nombreLibro:null,
                    nombreAutor:null,
                    detalleLibro:null,
                    cantidadLibro:null,
                    msgError:[],
                    banderaModal:false,
            
            }
        },

        props:['getLibrosAll'],
        methods:{

            limpiarCreate(){

                this.datoLibro.cantidad='',
                this.datoLibro.nombre = '',
                this.datoLibro.autor='',
                this.datoLibro.detalle=''

            },
            createLibro(){
                var createLibro = "createLibro";
 
                console.log(this.msgError);

                axios.post(createLibro,{
                    detalleLibro:this.datoLibro.detalle,
                    nombreLibro:this.datoLibro.nombre,
                    nombreAutor:this.datoLibro.autor,
                    cantidadLibro:this.datoLibro.cantidad,
                }).then(response=>{
                    toastr.success('Se ha creado el libro con exito');
                  
   
                    $('#createLibro').modal('hide');

                    this.getLibrosAll();
                    this.limpiarCreate();
                }).catch(error=>{
                       
            
                        if(error.response.status = 422 ){

                            this.msgError = error.response.data.errors;
                            console.log(this.msgError);

                        }
                })

            }

        },
        created: function () {
            // `this` points to the vm instance
            console.log('debe borrar todo');
          },
        mounted(){
            
            $(this.$refs.modal).on('hidden.bs.modal', () => {
                this.limpiarCreate();
                this.msgError =[];

            })
        }


    }
</script>

