<template>
        <!-- Normal Modal -->
        <div ref="modal" class="modal fade bd-example-modal-sm" id="delete-libro" >

            <div class="modal-dialog">
                
                <div class="modal-content">

                        <div class="modal-header">
                            <h3  class="modal-title" id="exampleModalLabel">Eliminar el Libro</h3>
                        </div>
                        <div class="modal-body">

                            <form method="POST"  v-on:submit.prevent="deleteLibro(datoLibro.idLibro)">                
                            <div class="form-group">

                                <div class="form-group row" >
                                    <div class="col-md-12" >
                                        <div class="form-material">
                                            <p>¿Estas seguro que deseas eliminar el libro? {{datoLibro.idLibro}}</p>                                    
                                        </div>
                                    </div>
                                </div>


                                <div class="modal-footer">
                                        <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-alt-primary">Aceptar</button>
                                </div>

                            </div>
                            </form>
                        </div>
                </div>

            </div>
        </div>
        <!-- END Normal Modal -->


</template>

<script>

    import EventBus from '../event-bus';

    export default {
        data:function(){
                return  {
                        datoLibro: []

                        }
        },
        props:['getLibrosAll'],
        methods:{
            getDatos:function(){
                EventBus.$on('datos-libro',data=>{

                        this.datoLibro={'idLibro':data[0]} ;
     
                    })
            },
            deleteLibro:function(idLibro){

                var idLibro = idLibro;
                var urlDeleteLibro = "deleteLibro/"+idLibro;


                axios.post(urlDeleteLibro).then(response=>{
                    toastr.success('Se ha desabilitado el libro con exito');

                    $('#delete-libro').modal('hide');
                    this.getLibrosAll();
                }).catch(error=>{
                    
                    

                        if(error.response.status = 422 ){

                            toastr.warning('No se logro desabilitar el libro');

                        }       

                })
            }
        },
        created(){
            this.getDatos();

        },
    }
</script>

