<template>
        <!-- Normal Modal -->
        <div ref="modal" class="modal fade" id="edit-libro" >
            <div class="modal-dialog">
                
                <div class="modal-content">

                        <div class="modal-header">
                            <h3  class="modal-title" id="exampleModalLabel">Editar Libro</h3>
                        </div>
                        <div class="modal-body">

                            <form method="POST"  v-on:submit.prevent="updateLibro(datoLibro.idLibro)">                
                            <div class="form-group">


                                <div class="form-group row" id="cantidadLibroCreate">
                                    <div class="col-md-12" >
                                        <div class="form-material">
                                            <label for="material-text">Cantidad Libros</label>
                                            <input type="number" class="form-control" v-model="datoLibro.cantidad">                                            
                                        </div>
                                        <div  v-if="msgError.cantidadLibro" v-for="nombre in msgError.cantidadLibro" class="invalid-feedback" style="color: red">Error Cantidad Registro Libro:  {{nombre}} </div>
                                    </div>
                                </div>

                                <div class="form-group row" id="nombreLibro">
                                    <div class="col-md-12">
                                        <div class="form-material">
                                            <label for="material-text">Nombre Libro</label>
                                            <input type="text" class="form-control" id="material-text" name="material-text"  v-model="datoLibro.nombre">
                                        </div>

                                       <div v-if="msgError.nombreLibro" v-for="nombre in msgError.nombreLibro" class="invalid-feedback" style="color: red">Error Campo Nombre Libro:  {{nombre}} </div>
                                    </div>
                                </div>

                                <div class="form-group row" id="nombreAutor">
                                    <div class="col-md-12">
                                        <div class="form-material">
                                            <label for="material-text2">Autor</label>
                                            <input type="text" class="form-control" id="material-text" name="material-text" v-model="datoLibro.autor">
                                        </div>
                                        <div v-if="msgError.nombreAutor" v-for="nombre in msgError.nombreAutor" class="invalid-feedback" style="color: red">Error Campo Nombre Autor:  {{nombre}} </div>
                                    </div>
                                </div>

                                <div class="form-group row" id="detalleLibro">
                                    <div class="col-md-12">
                                        <div class="form-material">
                                            <label for="material-textarea-large2">Detalle Libro</label>
                                            <textarea class="form-control"  rows="8"  v-model="datoLibro.detalle"></textarea>
                                        </div>
                                         <div v-if="msgError.detalleLibro" v-for="nombre in msgError.detalleLibro" class="invalid-feedback" style="color: red">Error Campo Detalle Libro:  {{nombre}} </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                        <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-alt-primary">Editar libro</button>
                                </div>

                            </div>
                            </form>
                        </div>
                </div>

            </div>
        </div>
        <!-- END Normal Modal -->

</template>

<script>

    import EventBus from '../event-bus';

    export default {
        data:function(){
                return  {
                        datoLibro: [],
                        nombreLibro:null,
                        nombreAutor:null,
                        detalleLibro:null,
                        cantidadLibro:null,
                        msgError:[]

                        }
        },
        props:['librosTodos','saludos','styleError','getLibrosAll'],
        methods:{
            getDatos:function(){
                EventBus.$on('datos-libro',data=>{

                        this.datoLibro={'idLibro':data[0],'nombre':data[1],'autor':data[2],'detalle':data[3],'cantidad':data[4] } ;
     
                    })
            },


            limpiarEdit(){

                this.datoLibro.cantidad='',
                this.datoLibro.nombre = '',
                this.datoLibro.autor='',
                this.datoLibro.detalle=''

            },
            updateLibro(idLibro){

                var idLibro = idLibro;
                var urlUpdateLibro = "updateLibro/"+idLibro;

                axios.post(urlUpdateLibro,{
                    cantidadLibro:this.datoLibro.cantidad,
                    nombreLibro:this.datoLibro.nombre,
                    nombreAutor:this.datoLibro.autor,
                    detalleLibro:this.datoLibro.detalle,
                }).then(response=>{
                    toastr.success('se ha editado el libro con exito');

                    $('#edit-libro').modal('hide');
                    this.getLibrosAll();
                    this.limpiarCreate();
                }).catch(error=>{
                                   
                        if(error.response.status = 422 ){

                            this.msgError = error.response.data.errors;

                        }
                })


            }
        },
        created(){
            this.getDatos();

        },

        mounted(){
            
            $(this.$refs.modal).on('hidden.bs.modal', () => {
                this.limpiarEdit();
                this.msgError =[];

            })
        }

    }
</script>

