<template>
        <div>
        <table class="table table-striped table-vcenter">    
            <thead>
                <tr>
                    <th class="text-center" style="width: 100px;"><i class="si si-user"></i></th>
                    <th>Nombre Libro</th>
                    <th style="width: 30%;">Nombre Autor</th>
                    <th class="text-center" style="width: 100px;">Acciones</th>
                </tr>
            </thead>
                        
            <tbody>
                <tr v-for="(libros,indice) of librosTodos" >
                    <td class="text-center"> {{ libros.idLibro }}.</td>
                    <td class="font-w600"> {{ libros.nombre }}.</td>
                    <td> {{ libros.autor }}. </td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#edit-libro"  v-on:click.prevent="editLibro(libros.cantidad,libros.idLibro,libros.nombre,libros.autor,libros.detalle)" >
                                <i class="fa fa-edit"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#delete-libro" v-on:click.prevent="deleteLibro(libros.idLibro)">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <EditLibro :saludos="saludos" :styleError="styleError" :getLibrosAll="getLibrosAll"></EditLibro>
        <CreateLibro :getLibrosAll="getLibrosAll"  ></CreateLibro>
        <DeleteLibro :getLibrosAll="getLibrosAll"  ></DeleteLibro>

        </div>
</template>

<script>
    import EventBus from '../event-bus'
    import EditLibro from './EditLibroComponent.vue' 
    import CreateLibro from './CreateLibroComponent.vue' 
    import DeleteLibro from './DeleteLibroComponent.vue' 

    export default {
        components:{
           EditLibro,
           CreateLibro,
           DeleteLibro 
        },
        data:function(){
                return  {
                        librosTodos: [],
                        saludos:'holi?',
                        styleError:{
                                    'nombreLibro': false,
                                    'nombreAutor':false, 
                                    'detalleLibro':false
                                    },
                        }
        },
        props:['libros'],
        methods:{

            getLibrosAll:function(){
             

                var urlLibros = "librosAll";

                axios.get(urlLibros).then(response=>{

                        this.librosTodos = response.data;
                                           
                });

            },

            editLibro:function(cantidad,idLibro,nombre,autor,detalle){
                EventBus.$emit('datos-libro',[idLibro,nombre,autor,detalle,cantidad]);
                     
            },

            deleteLibro(idLibro){
    

                EventBus.$emit('datos-libro',[idLibro]);
            }
        },
        created:function(){

            this.getLibrosAll();
        }
    }
</script>
<style scoped>
    .terminada{
        color: gray;
        text-decoration: line-through;
    }
</style>
