<template>
    <div class="row">
        <div class="col-md-2 col-sm-6 col-xs-12" v-for="(libros,indice) of librosTodos">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 22rem;">
                <img class="card-img-top" src="http://rdironworks.com/wp-content/uploads/2017/12/dummy-200x200.png" alt="Card image cap">
                
                <div class="card-body">
                    <h5 class="card-title">{{ libros.nombre}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted"> Autor: {{ libros.autor }}</h6>
                    <p class="card-text"> {{ libros.detalle}}.</p>
                    <p class="card-text" v-if="libros.cantidad > 0 "> Libros Disponibles {{ libros.cantidad}}.</p>
                    <p class="card-text" v-if="libros.cantidad == 0" style="color: tomato;">No se encuentra disponible</p>
                    <a href="#" class="card-link"></a>


                    <button type="button" class="btn btn-link" data-toggle="modal" v-if="libros.cantidad > 0 " data-target="#reserva-libro" v-on:click.prevent="createReserva(libros.idLibro)">Reservar</button>
                </div>
            </nav>
        </div>
        <ReservaLibro :getArray="getArray" ></ReservaLibro>
    </div>

</template>


<script>
    
    import EventBus from '../../event-bus'
    import ReservaLibro from './reservaLibrosComponent.vue' 
    export default {
            components:{
               ReservaLibro
            },
            data(){
                return {
                librosTodos: [],
                libros:[
                        {   
                            nombreLibro :'',
                            autorLibro:'',
                            detalleLibro:'',
                            idLibros:''

                        }
                        ]

                }
            },
             methods:{

                    getArray: function(page){                                    //cantidad de paginas
                        var urlLista = 'librosAll';                             //url cantidad de paginas
                        axios.get(urlLista).then(response=>{
                                this.librosTodos = response.data;                        //lista de libros, se alimenta de /libros  
                                
                                //this.pagination = response.data;                        //cantidad de paginas
                            console.log(this.librosTodos);     
                        });

                    },

                    createReserva(idLibro){
            
                        EventBus.$emit('datos-libro',[idLibro]);
                    }


            },
            created:function(){

                this.getArray();
            }
    }
</script>
<style scoped>
    .btn-default:hover {
    color: #fcfcfc;
    background-color: #3a9bfb;
    border-color: #3a9bfb !important;
    }
</style>
