<template>
      <!-- Normal Modal -->
        <div ref="modal" class="modal fade" id="reserva-libro" >

            <div class="modal-dialog">
                
                <div class="modal-content">

                        <div class="modal-header">
                             <h3  class="modal-title" id="exampleModalLabel">Reserva de libros</h3>
                        </div>


                        <div class="modal-body">

                            <form method="POST"  v-on:submit.prevent="pedidoReserva(datoLibro.idLibro)">                
                            <div class="form-group">

                                <div class="form-group row" >
                                    <div class="col-md-12" >
                                        <div class="col-md-6" id="imagen-libro">
                                              <!--  <img src="http://www.papelucho.cl/wp-content/uploads/2012/11/escribiendo.jpg" class="img-thumbnail">  -->
                                              <img src="https://cdn.stocksnap.io/img-thumbs/960w/9QLIF5KSSQ.jpg" alt="..."  style="width:100%;    height: 300px;" class="img-rounded">      
                                        </div>
                                        <div class="col-md-6" id="contenido-pedido">
                                            <label>Curso</label>
                                            <select v-model="seleccionCurso" class="form-control length" name="Alumnos" v-on:change="onChange">
                                                <option value="" disabled selected>Seleccione un curso...</option>
                                                <option v-for="cursosAlumnos in cursos" :key="cursosAlumnos.idCurso" :value="cursosAlumnos.idCurso" :name="cursosAlumnos.nombreCurso">
                                                    {{ cursosAlumnos.nombreCurso }}
                                                </option>
                                            </select>

                                            <label>Alumno</label>
                                            <select v-model="ingresoAlumnoId" class="form-control" v-if="seleccionCurso">
                                                <option value="" disabled selected>Seleccione un Alumno...</option>
                                                <option v-for="alumnos in alumnoxcurso" :key="alumnos.idUsuario"
                                                  :value="alumnos.idUsuario" >
                                                    {{ alumnos.nombre }}
                                                </option>
                                            </select>


                                        </div>
                                    </div>
                                </div>


                                <div class="modal-footer">
                                        <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-alt-primary">Aceptar</button>
                                </div>

                            </div>
                            </form>
                        </div>
                </div>

            </div>
        </div>
        <!-- END Normal Modal -->


</template>


<script>
    import EventBus from '../../event-bus'
    export default {
            data(){
                return {
                    datoLibro: [],
                    cursos:'',
                    seleccionCurso:'',
                    ingresoAlumnoId:'',
                    alumnoxcurso:[],  
                }
            },
             props:['getArray'],
             methods:{
                getDatos:function(){
                    var urCursos = 'cursos';
                    
                    EventBus.$on('datos-libro',data=>{
                        this.datoLibro={'idLibro':data[0] } ;
                    }),

                    axios.get(urCursos).then(response=>{
                        this.cursos = response.data;                                //variable alimentada del JSON
                        
                    });
                },
                onChange:function(){                                                //abre funcion onchange, del select cursoLibros 
            
                    var idCurso = this.seleccionCurso;                              //variable, que se alimenta de la seleccion del curso, a travez del v-model(select)
                    var urlAlumnoxcurso = "alumnoxcurso/" + idCurso;                //variable, que se alimenta de la ruta "alumnoxcurso/{idCurso}" 

                    axios.get(urlAlumnoxcurso).then(response=>{
                            this.alumnoxcurso = response.data;                      //variable alimentada del JSON              
                    });

                },
                limpiarSelect(){

                    this.seleccionCurso='',
                    this.ingresoAlumnoId = ''
                },
                pedidoReserva: function(idLibro){
                                     
                    var urlReserva = "createReserva";                               //crea variable urlReserva, se alimenta de la ruta "createReserva"              
                    axios.post(urlReserva,{                                         //metodo post, que envia datos a traves de post
                        
                        idLibro:idLibro,                                              //variable que contiene el id libro, la informacion vive en vue y no en el html
                        idCurso:this.seleccionCurso,                                //variable que contiene el id curso, la informacion se alimenta con el select de curso
                        idAlumno:this.ingresoAlumnoId                               //variable que contiene el id alumno, la informacion se alimenta con el select de alumno


                    }).then(response=> {                                            //respuesta, del controlador satisfactoria
            

                        //this.errors = [];
                        $('#reserva-libro').modal('hide');                          //oculta la modal con jquery
                        toastr.success('Se ha reservado el libro con exito');       //envia un mensaje satisfactoria a travez de toastr
                        this.getArray();
                        this.limpiarSelect();

                    }).catch(error=>{                                               //respuesta del controlador erronea


                    })
                },
            },
            created(){
                this.getDatos();

            },

            mounted(){
                this.getDatos();

            $(this.$refs.modal).on('hidden.bs.modal', () => {
                this.limpiarSelect();
            })
        }
    }
</script>
<style scoped>
    .btn-default:hover {
    color: #fcfcfc;
    background-color: #3a9bfb;
    border-color: #3a9bfb !important;
    }
</style>
